<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Sanskriti Sathi"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SanskritiSathi">

        <!-- Temple Screen -->
        <activity
            android:name=".TempleActivity"
            android:exported="false" />

        <!-- Bhagavad Gita Screen -->
        <activity
            android:name=".GitaActivity"
            android:exported="false" />

        <!-- Bhagavad Gita Detail Screen -->
        <activity
            android:name=".GitaDetailActivity"
            android:exported="false" />

        <!-- Devi & Devta Screen -->
        <activity
            android:name=".DeviDevtaActivity"
            android:exported="false" />

        <!-- RSS News Screen -->
        <activity
            android:name=".RssActivity"
            android:exported="false" />

        <!-- About Screen -->
        <activity
            android:name=".AboutActivity"
            android:exported="false" />

        <!-- Raja Screen -->
        <activity
            android:name=".RajaActivity"
            android:exported="false" />

        <!-- Main Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
